---
import Wordpress from '../components/icons/Wordpress.astro'
import Elementor from '../components/icons/Elementor.astro'
import Html from '../components/icons/Html.astro'
import Css from '../components/icons/Css.astro'
import Javascript from '../components/icons/Javascript.astro'
import Php from '../components/icons/Php.astro'

const TAGS = {
  WORDPRESS: {
    name: "Wordpress",
    class: "bg-[#14215a] text-white",
    icon: Wordpress,
  },

  ELEMENTOR: {
    name: "Elementor",
    class: "bg-white text-white",
    icon: Elementor,
  },

  HTML: {
    name: "HTML",
    class: "bg-black text-white",
    icon: Html,
  },

  CSS: {
    name: "CSS",
    class: "bg-black text-white",
    icon: Css,
  },

  JS: {
    name: "JavaScript",
    class: "bg-black text-white",
    icon: Javascript,
  },

  PHP: {
    name: "PHP",
    class: "bg-black text-white",
    icon: Php,
  },
};

const PROJECTS = [
  {
    title: "Anabella Group (Miami)",
    description:
      "In the “Projects” section, the website showcases a diverse portfolio of new developments (pre-construction), including luxury residences such as Waldorf Astoria, Aston Martin, and The Perigon, among others.",
    link: "https://anabellagroup.com/proyectos/",
    github: "#",
    image: "/projects/anabella.webp",
    tags: [
      TAGS.WORDPRESS,
      TAGS.ELEMENTOR,
      TAGS.HTML,
      TAGS.CSS,
      TAGS.JS,
      TAGS.PHP
    ],
  },
];
---

{
  PROJECTS.map(({ image, title, description, tags }) => (
    <article>
      <h3 class="text-2xl font-semibold text-yellow-200 mb-2">{title}</h3>
      <p class="text-lg mb-4 text-pretty">{description}</p>
      <ul class="flex gap-x-2 flex-row">

        {tags.map((tag) => (
          <li>
            <span class={`flex gap-x-2 rounded-full text-xs text-amber-50 ${tag.class} py-2 px-3 `}>
            <tag.icon class="size-4" />
            {tag.name}
            </span>

            </li>
        ))}

      </ul>
      <img
        class="rounded shadow-2xl shadow-white/10"
        src={image}
        alt={`Image of Project ${image}`}
      />
    </article>
  ))
}
