---
const PROJECTS = [
    {
        title: 'Project 1',
        description: 'As a leader in web design and development within the company, I have successfully driven the completion of every proposed project, exceeding expectations and raising the quality standard with each delivery. Working closely with a multicultural team, I have built strong relationships and contributed to collective success through clear and effective communication.',
        link:'#',
        github: '#',
        image: '/projects/anabella.webp',
        tags: ['HTML','CSS','JavaScript','PHP','Wordpress','Elementor']
    }
]
---

{
    PROJECTS.map(project => (
        <article>
            <h3 class="text-2xl font-semibold text-yellow-200 mb-2">{project.title}</h3>
            <p class="text-lg mb-2 text-pretty">{project.description}</p>
            <ul>
                {project.tags.map(tag=> (
                    <li>{tag}</li>
                ))}
            </ul>
            <img class="rounded shadow-2xl shadow-white/10"   src={project.image} alt={`Image of Project ${project.image}`}/>
        </article>
    ))
}